@font-face{
  font-family: 'StarWars';
  src: url('../fonts/star_jedi/starjout/Starjout.ttf');
}
body{
  background-image: url("../images/final_images/backgrounds/bg3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  margin: 0;
}
header {
  text-align: center;
  position: unset;
  border-radius: 10px;
  color: yellow;
  font-family: StarWars;
  font-size: 1rem;
  letter-spacing: .5rem;
  font-weight: bold;
}
.stats div {
  background-color: rgb(255, 255, 255);
  margin: 10px;
  height: 40px;
  border-radius: 10px;
}
.card {
  height: 230px;
  width: 160px;
  display: inline-block;
  margin: 6px;
  position: relative;
  border-radius: 10px;
  background-size: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.flipped {
  transform: rotateY(180deg);
}
.stats {
  width: 10%;
  position: fixed;
  text-align: center;
  margin-top: 0px;
  height: 100%;
  background-color: transparent;
}
.game {
  width: 100%;
}
.row {
  display: flex;
  justify-content: center;
}
.stats, .game {
  display: inline-block;
  /* border: 1px solid black;
  border-radius: 10px; */
  margin: 2px;
}
.container {
  display: flex;
  margin: 4px;
}
.card div{
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: 100% 100%;
  backface-visibility: hidden;
}
.cardBack {
  background-color: blue;
  background-image: url("../images/final_images/card-back.jpg");
  /* display: none; */
}
.cardFront {
  background-repeat: no-repeat;
  transform: rotateY(180deg);

}
.hide {
  display: none;
}
.modalBody{
  position: relative;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 900px;
  background-color: black;
  transform: translate(-50%,-50%);
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 20px black;
}
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.529);
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
}
.modalText{
  font-size: 2rem;
  color: yellow;
  font-family: StarWars;
  letter-spacing: .5rem;
}
.modalClose {
  padding: 5px 10px;
  font-size: 2rem;
}
.matchedLight {
  box-shadow: 4px 4px 20px green;
}
.matchedDark {
  box-shadow: 4px 4px 20px red;
}
.infoText{
  margin: 1px;
  color: yellow;
  font-family: StarWars;
  letter-spacing: .5rem;
}
.starterText {
  color: yellow;
  font-family: StarWars;
  letter-spacing: .5rem;
}
.card:hover {
  cursor: pointer;
}
