body{
  background-image: url("../images/lfz-background.jpg");
  margin: 0;
}
header {
  border: 1px solid black;
  text-align: center;
  border-radius: 10px;
  margin: 5px;
}
.stats div {
  background-color: rgba(0, 0, 255, 0.324);
  margin: 10px;
  height: 40px;
  border-radius: 10px;
}
.card {
  height: 115px;
  width: 115px;
  background-color: black;
  display: inline-block;
  margin: 2px;
  position: relative;
  border-radius: 10px;
  background-image: url(../images/no-cheating.jpg);
  background-size: 100%;
}
.stats {
  width: 10%;
  text-align: center;
  margin-top: 0px;
  height: 100%;
}
.game {
  width: 100%;
}
.row {
  display: flex;
  justify-content: center;
}
.stats, .game {
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  margin: 2px;
}
.container {
  display: flex;
  margin: 4px;
}
.cardBack, .cardFront {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: 100% 100%;
}
.cardBack {
  background-color: blue;
  background-image: url("../images/lfz-card.jpg");
  /* display: none; */
}
.cardFront {
  background-repeat: no-repeat;
}
.hide {
  display: none;
}
.modalBody{
  position: relative;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 900px;
  background-color: lightblue;
  transform: translate(-50%,-50%);
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 20px black;
}
.modal {
  display:none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.529);
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
}
.modalText {
  font-size: 2rem;
}
.modalClose {
  padding: 5px 10px;
  font-size: 2rem;
}
